<header>
  <div class="header">
    <h1>{{title}}</h1>
    <button class="menu-toggle">🌮 Menú</button>
    <nav class="mobile-hidden-menu">
      <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/ranges">Rangos</a></li>
        <li><a routerLink="/search">Búsqueda</a></li>
        <li><a routerLink="/duplicates">Duplicados</a></li>
      </ul>
    </nav>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <p>Hecho con ❤️ por <a href="https://github.com/mdanieltg/" target="_blank">mdanieltg</a>.</p>
</footer>
